<section>

 <div class="face-section">
  <div class="headshot-image"></div> 
   <div class="about-me" id = "about-div">
    <h3>About Me</h4>
    <p class="about-me"><strong>Hi there, I'm Cameron.</strong> </p>
    <p class="intro">I'm a gameplay programmer with a passion for developing and designing video games using a wide variety of interaction methods. My primary focus has been the development of gameplay mechanics and AI behaviours. While most of my work has been done using Unity engine, I have a strong understanding C++ and object orientated programming architechture, principles and practices. I have some experience with project management, including proper documentation, team communication, division of tasks, and playtesting.  </p>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Development</h4>
    <p class="intro"><strong>Languages: </strong>C++, C#</p>
    <p class="intro"><strong>Software: </strong>Visual Studio 2015, Unity</p>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Graphics</h4>
    <p class="intro"><strong>OpenGL</strong> Used with GLFW toolkit and GLEW extension library</p>
    <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Project Management</h4>
    <p class="intro"><strong>Experience working in smalls teams on large projects</strong></p>
    <p class="intro"><strong>Methodologies:</strong> Scrum, Agile</p>
   </div>
 </div>
 <div class="skill-section">
 </div>
</section>