<section class = "work-section" id="work-div">
 <h3 class="portfolio">Portfolio</h3>
 
 <div class="work-slider">
  <div class="thumbnail-wrap">
   <div class="work-close"></div>
   <div class="thumbnail-section">
    <div class = "project-container" id="synth-thumb">
     <div class="thumbnail" style="background-image: url(../assets/img/syntheticaThumbnail.png)"> 
      <div class="thumbnail-overlay">
       <strong>Synthetica</strong>
      </div>
     </div>
    </div>
   <div class = "project-container" id="tilt-thumb">
    <div class="thumbnail" style="background-image: url(../assets/img/tiltThumbnail.png)"> 
     <div class="thumbnail-overlay">
      <strong>TILT</strong>
     </div>
     </div>
    </div>
   <div class = "project-container" id="loft-thumb" >
    <div class="thumbnail" style="background-image: url(../assets/img/otherThumbnail.png)"> 
     <div class="thumbnail-overlay">
      <strong>TILT</strong>
     </div>
     </div>
    </div>
   <!--<div class = "project-container" id="whatthepuck-thumb">
    <div class="thumbnail" style="background-image: url(../assets/img/tiltThumbnail.png)"> 
     <div class="thumbnail-overlay">
      <strong>TILT</strong>
     </div>
     </div>
    </div>
   <div class = "project-container" id="fps-thumb">
    <div class="thumbnail" style="background-image: url(../assets/img/tiltThumbnail.png)"> 
     <div class="thumbnail-overlay">
      <strong>TILT</strong>
     </div>
     </div>
    </div>
   <div class = "project-container" id="other-thumb">
    <div class="thumbnail" style="background-image: url(../assets/img/tiltThumbnail.png)"> 
     <div class="thumbnail-overlay">
      <strong>TILT</strong>
     </div>
     </div>
    </div>-->
   <div class ="synth-info">
    <h2>Virtual Reality Survior Horror</h2>
    <div class="wrapper">
   <div class="synth-picture"></div>
    <div class="info-container">
    <p></p>
     <p>Synthetica allowed the user to manipulate a prop gun to control their weapon in virtual reality with real time tracking. The player navigated an underground laboratory fighting cybernetic monsters while trying to escape</p>
     <p>Development Time: 8 months</p>
     <p>Team Size: 2 Developers, 3 Designers</p>
     <p>Engine: Unity 3D</p>
     <p>My Responsibilities:</p>
     <p>&nbsp;&nbsp;&nbsp;- Enemy AI Behaviour</p>
     <p>&nbsp;&nbsp;&nbsp;- Animation Controllers and Sound Cues</p>
     <p>&nbsp;&nbsp;&nbsp;- Assisting with Hardware Integration</p>
     <p>&nbsp;&nbsp;&nbsp;- Assisting with Game Design and Project Managment</p>
     <p><br></p>
    </div>
    <h3>Input</h3>
    <div class="demo-gifs">
    <img src = "/assets/img/SyntheticaSetup.gif"/>
    <img src = "/assets/img/SyntheticaMobilityDemo.gif" style="width: 55%"/>
    </div> 
    <div class = "details" style="width: 80%; margin: auto">
     <p>A Leap Motion Controller tracked the position of the gun while a Wii Mote provided user input and rotational information</p>
    </div>
    
    <h3>Enemy Behaviour</h3>
    <div class="state-machine"></div>
    <div class = "details" style="width: 80%; margin: auto">
     <p>Enemies were driven by a simple finite state machine. Enemies move between searching and patrolling while the players location is unknown. Once a player is seen an enemy will run to his   last known location, if an enemy catches a player they move to an attack state and then idle during the game over animation. </p>
    </div>
    <h3>Demo Video</h3>
    <div style="position:relative; width:80%; height:0px; padding-bottom:56.25%; margin: auto;">
    <iframe style="position:absolute; left:0; top:0; width:100%; height:100%"
         src="https://www.youtube.com/embed/1fanN2_Bpoo">
    </iframe>
    </div>
    </div>
  </div>
  
  <div class ="tilt-info">
    <h2>Action-Packed, Gravity-Whacked Space Bowling</h2>
    <div class="wrapper">
   <div class="demo-gifs">
    <img src = "/assets/img/TiltPlaythrough.gif" style="width: 50%; margin: 20px; margin-bottom: 80px" />
    
    <div class="info-container">
    <p></p>
     <p>Tilt is a quick fun bowling game where the player controls the tilt of the gravity in the alley with their hand! Tilting gravity allows the player to navigate the twisty courses, dodge obsticals, hit jumps for bonuses, or send them plummeting into oblivion.</p>
     <p>Development Time: 4 months</p>
     <p>Team Size: 2 Developers, 1 Designer, 1 Marketing</p>
     <p>Engine: Unity 3D</p>
     <p>My Responsibilities:</p>
     <p>&nbsp;&nbsp;&nbsp;- Player stats pertinance between games</p>
     <p>&nbsp;&nbsp;&nbsp;- Touch free menu design</p>
     <p>&nbsp;&nbsp;&nbsp;- Polishing game feel and mechanics </p>
    </div></div>
    <h3>Input</h3>
    
    <div class = "details" style="width: 80%; margin: auto">
     <p>A Leap Motion Controller tracked the position of the players extended finger to point at menu buttons, extending the finger further triggers a button press. While in game the Leap tracks the pitch and yaw of the players hand and applies that information to the tilt of the couse.</p>
    </div>
    
    
    <h3>Demo Video</h3>
    <div style="position:relative; width:80%; height:0px; padding-bottom:56.25%; margin: auto;">
    <iframe style="position:absolute; left:0; top:0; width:100%; height:100%"
         src="https://www.youtube.com/embed/ITIiVjkwLYs">
    </iframe>
    </div>
    </div>
    
  </div>
 
<div class ="other-info">
 <div class="wrapper">
   <div class="roid-picture"></div>
    <div class="info-container" style="padding-bottom: 13%">
    
    <h2>OpenGL Asteroids</h2>
    <p>This simple asteroids game I created using very low level graphics programming. It was made in C++ using only a simple OpenGL extension library(glsh) and mathematics library(glm). I wrote a    parser capable of loading .obj files and oranizing vertex data for complex 3D models. I wrote simple shaders for colour and lighting on the models. </p>
    <p><br></p>
   </div>
   <div class="other-vid">
    <iframe style="position:absolute; left:0; top:0; width:100%; height:100%"
     src="https://www.youtube.com/embed/Ip38a6qYM2c">
    </iframe>
   </div>
   <div class="info-container" style="padding-bottom: 2%">
    <p></p>
    <h2>Medival Battle</h2>
    <p>This simple asteroids game I created using very low level graphics programming. It was made in C++ using only a simple OpenGL extension library(glsh) and mathematics library(glm). I wrote a    parser capable of loading .obj files and oranizing vertex data for complex 3D models. I wrote simple shaders for colour and lighting on the models. </p>
    <p><br></p>
   </div>
   <div class="other-vid">
    <iframe style="position:absolute; left:0; top:0; width:100%; height:100%"
     src="https://www.youtube.com/embed/RXMroPVKLj0">
    </iframe>
   </div>
   <div class="info-container" style="padding-bottom: 5%">
    <p></p>
    <h2>Mario 3D Clone</h2>
    <p>This simple asteroids game I created using very low level graphics programming. It was made in C++ using only a simple OpenGL extension library(glsh) and mathematics library(glm). I wrote a    parser capable of loading .obj files and oranizing vertex data for complex 3D models. I wrote simple shaders for colour and lighting on the models. </p>
    <p><br></p>
   </div>
     
     
     <!--h3>Demo Video</h3>
     <div style="position:relative; width:80%; height:0px; padding-bottom:56.25%; margin: auto;">
      <iframe style="position:absolute; left:0; top:0; width:100%; height:100%"
         src="https://www.youtube.com/embed/1fanN2_Bpoo">
      </iframe>
     </div>-->
    </div>
   </div>
  </div>
 </div>
</div>
 


</section>
